html, body {
    margin: 0;
    width: 100%;
    background-image: url(../images/background1.jpg);
    background-repeat: round;
    min-width: 900px;
}

p {
    word-break: break-all; /*英文强制换行*/
}

.header {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: white;
    z-index: 100;
}

.nav {
    width: 100%;
    text-align: right;
    margin-right: 20px;
}

.nav ul {
    height: 100%;
    margin: 0;
}

.nav li {
    display: inline-block;
    height: 100%;
    margin: 0px 5px;
}

a, a:visited, a:link, a:active {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav .index {
    border-top: 3px solid #28B1FF;
}

.nav li:hover {
    border-top: 3px solid #28B1FF;
}

.leftHeader {
    margin-left: 20px;
    width: 30%;
}

.main {
    width: 100%;
    padding-top: 70px;
    display: flex;
}

.left {
    width: 25%;
    text-align: center;
    margin: 20px;
    background-color: #f8f7f7;
    border-radius: 15px;
    flex-shrink: 0;
}

.modify-info-btn {
    text-align: right;
    margin: 10px 20px 0 0;
    /*background-color: #28B1FF;*/
    /*color: white;*/
    /*padding: 5px 10px;*/
    /*margin: 8px 5px;*/
    /*border: none;*/
    /*border-radius: 4px;*/
    cursor: pointer;
    display: inline-block;
}

.modifying > div:first-child {
    display: inline-block;
}

.modifying > div:nth-child(2), .modifying > div:nth-child(3) {
    display: none;
}

.modifying.user-modifying > div:first-child {
    display: none;
}

.modifying.user-modifying > div:nth-child(2), .modifying.user-modifying > div:nth-child(3) {
    display: inline-block;
}


.modify-info-btn img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.left h4 {
    text-align: left;
    margin: 10px 0px 10px 5%;
}

.split_line {
    width: 90%;
    margin: 5px 5%;
    height: 2px;
    background-color: #d5d7dc;
}

.data_info {
    display: flex;
}

.data_item {
    display: inline-block;
    text-align: center;
    width: 25%;
}

.data_item .data_value, .data_item .label {
    display: block;
    margin: 5px;
    font-size: 0.8em;
}

.data_item .label {
    color: rgb(122, 122, 122);
    font-size: 1em;
}

.left p {
    display: inline-block;
    margin: 0.3em 0em;
}

.contact img {
    margin: 5px 10px;
}

.content {
    width: 75%;
    margin: 20px;
    margin-left: 0px;
    border-radius: 15px;
    background-color: #f8f7f7;
    padding: 25px;
}

.avatar {
    margin-top: 50px;
    width: 60%;
    border-radius: 15px;
}

.title {
    border-left: 6px;
    padding-left: 0.2em;
    border-left-color: #28B1FF;
    border-left-style: solid;
    font-size: 1.5em;
}


.about_me_content img {
    width: 200px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
}

.about_me_content::after {
    content: "";
    display: block;
    clear: both;
}

.about_me_content p {
    margin-top: 0px;
    text-indent: 2em;
}

.timeline {
    padding: 0px;
    width: 100%;
}

.timeline li {
    position: relative;
    list-style-type: none;
}

.timeline .point {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    background-color: gainsboro;
}

.timeline .line {
    position: absolute;
    width: 2px;
    left: 6px;
    height: 100%;
    background-color: gainsboro;
}

.timeline .content_timeline_box {
    padding-bottom: 10px;
    margin-left: 25px;
}

.timeline .content_timeline {
    position: relative;
    padding: 20px 20px 0px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border: 1px solid #EBEEF5;
}

.timeline .date {
    font-size: 0.8em;
    margin: 0px;
    color: rgb(141, 141, 141);
}

.timeline p {
    margin-top: 4px;
}

.photo {
    width: 100%;
    border-radius: 15px;
}

.footer {
    text-align: center;
}

/*账户设置界面的相关样式*/
.modify-title {
    font-size: 20px;
}

.modify-btn,
.modify-avatar input,
.modify-avatar button,
.login-btn {
    margin: 10px 20px 0 0;
    background-color: #28B1FF;
    color: white;
    padding: 5px 10px;
    margin: 2px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.input-item {
    display: flex;
    margin: 10px 0;
    border: #b0aeae 1px solid;
    border-radius: 5px;
    align-items: center;
    max-width: 500px;
}

.input-item img {
    width: 35px;
    margin-left: 5px;
}

.input-item input {
    flex: 1;
    height: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 5px;
    margin: 10px 0;
    background-color: #f8f7f7;
}
